body{
    margin: 0;
    padding: 0;
}
#body{
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 239, 252);
    gap: 15px;
    width: 100%;
    padding: 25px 0;
}

section{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#grandDiv1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#div1{
    width: 50%;
    background-color: rgb(123, 80, 182);
    color: white;
    padding: 20px;
    border-radius: 15px;
}
#petitDiv1, #petitDiv2, #petitDiv3, #divAside{
    display: flex;
    gap: 10px;
    
}
#sousPetitDiv1, #sousPetitDiv2, #sousPetitDiv3, #sousDivAside{
    line-height: 1px;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 15px;
}
.p1{
    color: rgba(240, 243, 255, 0.517);
}
.sousTitre{
    font-size: small;
    color: rgba(240, 248, 255, 0.547);
}

#div2{
    width: 25%;
    background-color: rgb(71, 91, 120);
    color: white;
    padding: 20px;
    border-radius: 15px;
}

#grandDiv2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#div3{
    width: 25%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
}
.p3{
    color: rgba(99, 101, 106, 0.795);
}
.sousTitreblac{
    font-size: small;
    color: rgba(99, 101, 106, 0.795);
}

#div4{
    width: 50%;
    background-color: rgb(4, 4, 4);
    color: white;
    padding: 20px;
    border-radius: 15px;
}

aside{
    display: flex;
    width: 25%;
}
#Aside{
    width: 75%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
}

@media screen and (max-width: 415px) {
    #body{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 25px 0;
        gap: 10px;
    }
    section{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    #grandDiv1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    #div1, #div2, #div3, #div4, #Aside{
        width: 65%;
    }
    #grandDiv2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    aside{
        width: 100%;
        display: flex;
        justify-content: center ;
    } 
}

@media screen and (max-width: 821px) and (min-width: 416px) {
    #body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }
    #grandDiv1{
        display: flex;
        gap: 25px;
        width: 95%;
    }
    #div1, #div2, #div3, #div4{
        width: 50%;
    }
    #grandDiv2{
        display: flex;
        gap: 25px;
        width: 95%;
    }
    aside, #Aside{
        width: 95%;
    } 
}